<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<!--    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>Controller.Authorization.loginFilter</filter-class>
    </filter>-->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Controller.Authorization.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Controller.Authorization.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <!--jsp-->
        <filter-name>UserFilter</filter-name>
        <url-pattern>/views/profile/profile.jsp</url-pattern>
        <!--controller-->
        <url-pattern>/examlist</url-pattern>
        <url-pattern>/GradeController</url-pattern>
        <url-pattern>/practicelist</url-pattern>
        <url-pattern>/Quizz</url-pattern>
        <url-pattern>/EditProfileController</url-pattern>
        <url-pattern>/ChangePass</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/views/admin/dashboard/body.jsp</url-pattern>
        <url-pattern>/views/admin/dashboard/contributions.jsp</url-pattern>
        <url-pattern>/views/admin/quizlist/queslist.jsp</url-pattern>
        <url-pattern>/views/admin/quizlist/examlist.jsp</url-pattern>
        <url-pattern>/views/admin/subjects/list.jsp</url-pattern>
        <url-pattern>/views/admin/users/list.jsp</url-pattern>
        <url-pattern>/views/blog/blog_manager.jsp</url-pattern>
        <url-pattern>/views/registration/registration_list.jsp</url-pattern>
        <url-pattern>/views/registration/registration_detail.jsp</url-pattern>
        <!--controller-->
        <url-pattern>/admin/dashboard/*</url-pattern>
        <url-pattern>/admin/dashboard/body</url-pattern>
        <url-pattern>/examslist</url-pattern>
        <url-pattern>/ExamManageController</url-pattern>
        <url-pattern>/QuestionManageController</url-pattern>
        <url-pattern>/questionslist</url-pattern>
        <url-pattern>/Admin/*</url-pattern>
        <url-pattern>/BlogAdd</url-pattern>
        <url-pattern>/BlogEdit</url-pattern>
        <url-pattern>/BlogManage</url-pattern>
        <url-pattern>/BlogStatus</url-pattern>
        <url-pattern>/LessonDetail</url-pattern>
        <url-pattern>/RegistrationAdd</url-pattern>
        <url-pattern>/RegistrationDetail</url-pattern>
        <url-pattern>/RegistrationList</url-pattern>
        <url-pattern>/RegistrationStatus</url-pattern>
    </filter-mapping>
<!--    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/views/admin/dashboard/body.jsp</url-pattern>
        <url-pattern>/views/admin/dashboard/contributions.jsp</url-pattern>
        <url-pattern>/views/admin/quizlist/queslist.jsp</url-pattern>
        <url-pattern>/views/admin/quizlist/examlist.jsp</url-pattern>
        <url-pattern>/views/admin/subjects/list.jsp</url-pattern>
        <url-pattern>/views/admin/users/list.jsp</url-pattern>
        <url-pattern>/views/admin/adminstrator.jsp</url-pattern>
        <url-pattern>/views/blog/blog_detail.jsp</url-pattern>
        <url-pattern>/views/blog/blog_list.jsp</url-pattern>
        <url-pattern>/views/blog/blog_manager.jsp</url-pattern>
        <url-pattern>/views/blog/blog_sider.jsp</url-pattern>
        <url-pattern>/views/registration/registration_list.jsp</url-pattern>
        <url-pattern>/views/registration/registration_detail.jsp</url-pattern>
        <url-pattern>/views/lesson/manageLesson.jsp</url-pattern>
        controller
        <url-pattern>/admin/dashboard/*</url-pattern>
        <url-pattern>/examslist</url-pattern>
        <url-pattern>/ExamManageController</url-pattern>
        <url-pattern>/QuestionManageController</url-pattern>
        <url-pattern>/questionslist</url-pattern>
        <url-pattern>/Admin/*</url-pattern>
        <url-pattern>/BlogAdd</url-pattern>
        <url-pattern>/BlogDetail</url-pattern>
        <url-pattern>/BlogEdit</url-pattern>
        <url-pattern>/BlogList</url-pattern>
        <url-pattern>/BlogManage</url-pattern>
        <url-pattern>/BlogStatus</url-pattern>
        <url-pattern>/LessonController</url-pattern>
        <url-pattern>/LessonDetail</url-pattern>
        <url-pattern>/manageLesson</url-pattern>
        <url-pattern>/RegistrationAdd</url-pattern>
        <url-pattern>/RegistrationDetail</url-pattern>
        <url-pattern>/RegistrationList</url-pattern>
        <url-pattern>/RegistrationStatus</url-pattern>
        common
         jsp
        <url-pattern>/views/profile/editprofile.jsp</url-pattern>
        <url-pattern>/views/profile/profile.jsp</url-pattern>
        <url-pattern>/views/practice/practicesList.jsp</url-pattern>
        <url-pattern>/views/practice/examList.jsp</url-pattern>
        <url-pattern>/views/lesson/lesson.jsp</url-pattern>
        <url-pattern>/views/lesson/lessonDetail.jsp</url-pattern>
        controller
        <url-pattern>/examlist</url-pattern>
        <url-pattern>/GradeController</url-pattern>
        <url-pattern>/practicelist</url-pattern>
        <url-pattern>/Quizz</url-pattern>
        <url-pattern>/EditProfileController</url-pattern>
        <url-pattern>/ChangePass</url-pattern>
        <url-pattern>/SubjectRegisterController</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>DashBroadController</servlet-name>
        <servlet-class>Controller.Admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>Controller.Admin.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountcontroller</servlet-name>
        <servlet-class>Controller.User.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContributionsController</servlet-name>
        <servlet-class>Controller.Admin.Dashboard.ContributionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registercontroller</servlet-name>
        <servlet-class>Controller.User.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Subject.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controller.Blog.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.Blog.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.User.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>Controller.User.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>Controller.User.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassController</servlet-name>
        <servlet-class>Controller.User.ResetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizzController</servlet-name>
        <servlet-class>Controller.Quiz.QuizzController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectRegisterController</servlet-name>
        <servlet-class>Controller.Subject.SubjectRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogAddController</servlet-name>
        <servlet-class>Controller.Blog.BlogAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogStatusController</servlet-name>
        <servlet-class>Controller.Blog.BlogStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogUpdateController</servlet-name>
        <servlet-class>Controller.Blog.BlogUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManageController</servlet-name>
        <servlet-class>Controller.Blog.BlogManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeListController</servlet-name>
        <servlet-class>Controller.Quiz.PracticeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogEditController</servlet-name>
        <servlet-class>Controller.Blog.BlogEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.User.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamListController</servlet-name>
        <servlet-class>Controller.Quiz.ExamListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDataController</servlet-name>
        <servlet-class>Controller.Admin.Dashboard.ChartDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsController</servlet-name>
        <servlet-class>Controller.Admin.Quizlist.QuestionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamsController</servlet-name>
        <servlet-class>Controller.Admin.Quizlist.ExamsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionManageController</servlet-name>
        <servlet-class>Controller.Admin.Quizlist.QuestionManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamManageController</servlet-name>
        <servlet-class>Controller.Admin.Quizlist.ExamManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoggOutController</servlet-name>
        <servlet-class>Controller.User.LoggOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeController</servlet-name>
        <servlet-class>Controller.Quiz.GradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BodyController</servlet-name>
        <servlet-class>Controller.Admin.Dashboard.BodyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListController</servlet-name>
        <servlet-class>Controller.Registration.RegistrationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDetailController</servlet-name>
        <servlet-class>Controller.Registration.RegistrationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationStatusController</servlet-name>
        <servlet-class>Controller.Registration.RegistrationStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationAddController</servlet-name>
        <servlet-class>Controller.Registration.RegistrationAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSubjectController</servlet-name>
        <servlet-class>Controller.Subject.FindSubjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamListController</servlet-name>
        <url-pattern>/examlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBroadController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContributionsController</servlet-name>
        <url-pattern>/admin/dashboard/contributions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountcontroller</servlet-name>
        <url-pattern>/accountcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registercontroller</servlet-name>
        <url-pattern>/registercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassController</servlet-name>
        <url-pattern>/ResetPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizzController</servlet-name>
        <url-pattern>/Quizz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectRegisterController</servlet-name>
        <url-pattern>/SubjectRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogAddController</servlet-name>
        <url-pattern>/BlogAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogStatusController</servlet-name>
        <url-pattern>/BlogStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogUpdateController</servlet-name>
        <url-pattern>/BlogUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManageController</servlet-name>
        <url-pattern>/BlogManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeListController</servlet-name>
        <url-pattern>/practicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogEditController</servlet-name>
        <url-pattern>/BlogEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDataController</servlet-name>
        <url-pattern>/admin/dashboard/chartData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsController</servlet-name>
        <url-pattern>/questionslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamsController</servlet-name>
        <url-pattern>/examslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionManageController</servlet-name>
        <url-pattern>/QuestionManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamManageController</servlet-name>
        <url-pattern>/ExamManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggOutController</servlet-name>
        <url-pattern>/LoggOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeController</servlet-name>
        <url-pattern>/GradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BodyController</servlet-name>
        <url-pattern>/admin/dashboard/body</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListController</servlet-name>
        <url-pattern>/RegistrationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDetailController</servlet-name>
        <url-pattern>/RegistrationDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationStatusController</servlet-name>
        <url-pattern>/RegistrationStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationAddController</servlet-name>
        <url-pattern>/RegistrationAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSubjectController</servlet-name>
        <url-pattern>/FindSubjectController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
